body{
  background-color: brown;
}

.head{
  text-align: center;
  text-transform: capitalize;
  color: blueviolet;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hr{
  width: 20%;
  border: 5px solid blueviolet;
  border-radius: 5px;
}
.hrs{
  width: 70%;
  border: 5px solid brown;
  border-radius: 5px;
}

.main{
  text-align: center;
  height: 400px;
  width: 400px;
  margin: auto;
  background-color: blueviolet;
  color: brown;
  border-radius: 5px;
  margin-top:20px ;
  padding: 20px;
}

input[type='text']{
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: brown;
}

.addbtn{
  font-size: larger;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}